html {
    margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 500ms ease-in-out;
    color: #fff;
    background: rgb(40, 40, 40);
}

.canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}

.button {
    width: 100px;
    height: 100px;
    transition: 1s ease-in-out;
    border: dotted rgb(0, 0, 0) 5px;
    display: inline-block;
    border-radius: 50%;
}

.button:active {
    transform: rotate(360deg);
}

#green {
    background: mediumseagreen;
}

#red {
    background: #CC3300;
}

#blue {
    background: blue;
}

#white {
    background: #fff;
    color: #000;
}